<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_dreadscape._tcp</string>
		<string>_dreadscape._udp</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>CormorantUpright-Bold.ttf</string>
		<string>CormorantUpright-Medium.ttf</string>
		<string>CormorantUpright-Light.ttf</string>
		<string>CormorantUpright-Regular.ttf</string>
		<string>CormorantUpright-SemiBold.ttf</string>
	</array>
</dict>
</plist>
